<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/todolist.js" defer></script>
    <title>to do list</title>
</head>
<body>
    <input id="newlist" type="text" placeholder="할일"><button>추가</button><br>
</body>
</html>